.filters
  grid-area: filter
  grid-row: 1 / -1
  padding-left: 70px
  z-index: 2
  background-image: linear-gradient(to bottom, $darker-grey 0px, $darker-grey 70px, $light-grey 70px, $light-grey)

.filters__wrapper
  padding-top: 25px

.filters__wrapper h3
  margin: 0
  margin-bottom: 111px
  padding: 0
  letter-spacing: 1.6px

  @include fstyle(16px, 20px, $black, 800, uppercase)

.filters__price-slider,
.filters__color,
.filters__bluetooth-support
  position: relative
  margin: 0
  padding: 0
  border: none

  &::before
    content: ""
    position: absolute
    left: 0
    height: 2px
    width: 200px
    background-color: $black

.filters__color
  margin-bottom: 56px

  &::before
    top: -55px

.filters__wrapper legend
  margin-bottom: 23px
  letter-spacing: 1.4px

  @include fstyle(14px, 17px, $black, 800)

.filters__price-slider legend
  margin-bottom: 39px

.output
  display: flex
  justify-content: space-between
  width: 10.5%

.output p
  @include fstyle(14px, 16px, $black, 300)

.filters__wrapper label
  font-family: "Open Sans", "Arial", sans-serif

  @include fstyle(14px, 19px, $black, 300)

.filters__price-slider
  margin: 0
  margin-bottom: 54px
  padding: 0

  &::before
    top: -71px

.filters__bluetooth-support ul,
.filters__color ul
  margin: 0
  padding: 0
  list-style: none

.filters__bluetooth-support
  min-height: 111px
  margin-bottom: 45px

  &::before
    top: -62px

.filters__output
  display: flex
  margin-top: 8px

.filters__output p
  margin: 0
  margin-right: 69px
  padding: 0

  &:last-child
    margin-right: 0

.filters__color li
  margin-bottom: 15px

  &:last-child
    margin-bottom: 0

.filters__submit
  margin-left: 37px
  padding: 0
  letter-spacing: 1.9px
  cursor: pointer

  &::before
    top: 8px
    left: -37px
    width: 200px

.colors__item
  height: 24px

.colors__item label
  margin-left: 18px

.colors__input-checkbox + label 
  &::before
    content: ""
    position: relative
    display: inline-block
    top: 7px
    left: -18px
    width: 24px
    height: 24px
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='22' height='22' rx='1' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    border: none

.colors__input-checkbox:checked + label 
  &::before
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='22' height='22' rx='1' stroke='black' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.07692 10.75L5.38461 12.5L10.4615 17.75L18.9231 9L17.2308 7.25L10.4615 14.25L7.07692 10.75Z' fill='black'/%3E%3C/svg%3E%0A")

.colors__input-checkbox:not(:disabled):hover + label
  &::before
    opacity: 0.6

.colors__input-checkbox:disabled + label  
  opacity: 0.25
  
.filters__scale
  position: relative
  height: 2px
  width: 200px
  margin-bottom: 17px
  background-color: $black-rgba-darker

.filters__bar
  position: absolute
  left: 20px
  height: 2px
  width: 94px
  background-color: $light-green

.filters__range-filter
  position: relative

.filters__toggle
  height: 20px
  width: 20px
  border-radius: 50%
  background-color: $white

.filters__toggle--min,
.filters__toggle--max
  position: absolute
  &::before
    content: ""
    position: absolute
    top: 8px
    left: 8px
    height: 4px
    width: 4px
    border-radius: 50%
    background-color: $darker-grey

.filters__toggle--min
  top: -9px
  left: 0

.filters__toggle--max
  top: -9px
  left: 114px

.filters__price-controls
  display: flex
  height: 16px

.filters__price-controls label,
.filters__price
  line-height: 16px

.filters__price
  width: 78px
  border: none
  background-color: transparent
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none

.colors__list
  min-height: 187px

.filters__bluetooth-support legend
  margin-bottom: 30px

.bluetooth__radio + label
  position: relative
  margin-left: 40px

  &::before
    content: ''
    height: 24px
    width: 24px
    top: -3px
    left: -40px
    position: absolute
    box-sizing: border-box
    border: 2px solid $black
    border-radius: 50%

.bluetooth__radio:checked + label
  &::after
    content: ''
    position: absolute
    top: 5px
    left: -32px
    height: 8px
    width: 8px
    border-radius: 50%
    background-color: $black

.bluetooth__item
  min-height: 24px
  margin-bottom: 16px

  &:last-child
    margin-bottom: 0