.filters__wrapper h3
  letter-spacing: 1.6px

  @include fstyle(16px, 20px, $black, 800, uppercase)

.filters__wrapper legend
  letter-spacing: 1.4px

  @include fstyle(14px, 17px, $black, 800)

.output
  display: flex
  justify-content: space-between
  width: 10.5%

.output p
  @include fstyle(14px, 16px, $black, 300)

.filters__wrapper label
  font-family: "Open Sans", "Arial", sans-serif

  @include fstyle(14px, 19px, $black, 300)
