.goods__comparison-button
  font-family: "Open Sans", "Arial", sans-serif
  letter-spacing: 1.3px

  @include fstyle(13px, 18px, $black, 300)

.goods__item-name
  text-decoration: none
  letter-spacing: 0.9px

.goods__item p
  letter-spacing: 0.8px

  @include fstyle(16px, 18.5px, $black, 300)
