.page-header
  background-color: $yellow

.page-header input[type="search"]::placeholder
  font-family: "Open Sans", "Arial", sans-serif
  @include fstyle(15px, 20.4px, rgba($black, 0.3), 300)

.page-header__wrapper a
  text-decoration: none

.page-header__catalog-wrapper button
  background: none
  border: none

.page-header__catalog-wrapper button,
.page-header__navigation a
  letter-spacing: 3.6px
  text-decoration: none
  @include fstyle(18px, 22px, $black, 800, uppercase)

.page-header__exit-link
  color: rgba($black, 0.3)

.page-header__catalog-wrapper ul
  list-style: none

.page-header__catalog-wrapper a
  text-decoration: none
