.pagination-wrapper
  grid-area: pagination

.pagination__link,
.pagination__movement
  text-decoration: none
  letter-spacing: 1.6px

  @include fstyle(16px, 20px, rgba($black, 0.3), 800, uppercase)

.pagination__link--selected,
.pagination__movement
  color: black
