.pagination-wrapper
  grid-area: pagination
  display: flex
  justify-content: space-between
  height: 45px
  width: 700px
  margin-bottom: 78px
  padding-left: 30px
  padding-right: 30px
  padding-top: 25px
  background-color: $grey-light-tone

.pagination-wrapper ul
  display: flex
  margin: 0
  padding: 0
  list-style: none

.pagination-wrapper li
  margin-right: 30px

.pagination__link,
.pagination__movement
  text-decoration: none
  letter-spacing: 1.6px

  @include fstyle(16px, 20px, rgba($black, 0.3), 800, uppercase)

.pagination__link--selected,
.pagination__movement
  color: black
