.promo__carousel-item
  display: none

.promo__carousel-item--enabled
  display: block

.promo__carousel-item h3
  width: 495px

  @include fstyle(47px, 58px, $black, 800)

.promo__carousel-item p
  width: 472px
  font-family: "Open Sans", "Arial", sans-serif

  @include fstyle(15px, 20.4px, $black, 300)

.promo__carousel-item a
  letter-spacing: 3.6px
  text-decoration: none

  @include fstyle(18px, 22px, $black, 800, uppercase)

.promo__carousel-item dt
  letter-spacing: 3.6px

  @include fstyle(36px, 42px, $black, 300)

.promo__carousel-item dd
  letter-spacing: 1.3px

  @include fstyle(13px, 15px, $black, 300)
