.service__button
  background: none
  border: none

.service__delivery-button--selected
  color: $yellow

.service__wrapper
  display: none

.service__wrapper p
  font-family: "Open Sans", "Arial", sans-serif
  letter-spacing: 3px

  @include fstyle(15px, 30px, $black, 300)

