/*Colors*/
$white: #fff
$white-rgba: rgba(255, 255, 255, 0.3)
$white-rgba-hover: rgba(255, 255, 255, 0.6)
$white-rgba-active: rgba(255, 255, 255, 0.1)
$black: #000
$black-rgb: rgb(0, 0, 0)
$black-rgba: rgba(0, 0, 0, 0.3)
$yellow: #F7E296
$grey: #363636
$darker-grey: #DCDCDC
$dark-yellow: #F0C52E
$dark-yellow-hover: rgba(240, 197, 46, 0.6)
$dark-yellow-active: rgba(240, 197, 46, 0.3)
$light-yellow: #F7E296
$light-grey: #E5E5E5
$darker-yellow: #FFC600
$lightgrey-rgba: rgba(238, 238, 238, 0.7)

